#main-header {
  height: 80px;
  background-color: #cd5360;
  color: #eae7dc;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.logo {
  float: left;
  margin-left: 2rem;
  height: inherit;
}

.logo-title {
  margin: 10px;
}

.navigation {
  float: right;
  list-style: none;
  position: relative;
}

.navigation li {
  float: left;
}

.navigation a {
  display: block;
  padding: 1.3rem;
  text-decoration: none;
  cursor: pointer;
  color: #eae7dc;
}

.navigation a:hover {
  color: #d8c3a5;
}

.sub-navigation {
  list-style: none;
  position: absolute;
  top: 80px;
  right: 0;
  width: 180px;
}

.sub-navigation li {
  width: 100%;
}

.sub-navigation a {
  padding: 10px;
}

.fa-chevron-down {
  font-size: 0.8rem;
}
