#main-header {
  height: 70px;
  background-color: #444;
  color: #eae7dc;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 4px -2px #444;
  -moz-box-shadow: 0 4px 4px -2px #444;
  box-shadow: 0 2px 2px -1px #444;
}

.logo {
  float: left;
  margin-left: 2rem;
  height: inherit;
}

.logo-title {
  margin: 10px;
}

.logo-title a {
  color: white;
}

.logo-title span {
  color: #c7ac87;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.logo-title span:hover {
  color: #eae7dc;
}

.navigation {
  float: right;
  list-style: none;
  position: relative;
}

.navigation li {
  float: left;
}

.navigation li:hover ul {
  display: block;
}

.navigation a {
  display: block;
  padding: 1.3rem;
  cursor: pointer;
  color: #eae7dc;
}

.navigation a:hover {
  color: #d8c3a5;
}

.sub-navigation {
  list-style: none;
  position: absolute;
  top: 70px;
  right: 0;
  width: 180px;
  display: none;
  -webkit-box-shadow: 0 4px 4px -2px #444;
  -moz-box-shadow: 0 4px 4px -2px #444;
  box-shadow: 0 2px 2px -1px #444;
  z-index: 9999;
}

.sub-navigation li {
  width: 100%;
}

.sub-navigation a {
  padding: 10px;
  color: #444;
}

.sub-navigation a:hover {
  color: #8e8d8a;
}

.fa-chevron-down {
  font-size: 0.8rem;
}
