* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  background-color: #eae7dc;
  background: #eae7dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eae7dc,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eae7dc,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #8e8d8a;
}

li {
  list-style: none;
}

.bg-secondary {
  background: #d8c3a5 !important;
}

.btn-secondary {
  color: white !important;
  background: #e98074 !important;
  border-color: #e98074 !important;
}

.btn-secondary:hover {
  color: #e98074 !important;
  background-color: transparent !important;
}

.btn-outline-secondary {
  color: #e98074 !important;
  border-color: #e98074 !important;
}

.btn-outline-secondary:hover {
  color: white !important;
  background: #e98074 !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.paddingTB60 {
  padding: 60px 0px 60px 0px;
}

.about-title {
}
.about-title h1 {
  color: #535353;
  font-size: 45px;
  font-weight: 600;
}
.about-title span {
  color: #c7ac87;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 2px 2px #444;
}
.about-title h3 {
  color: #535353;
  font-size: 23px;
  margin-bottom: 24px;
}
.about-title p {
  color: #444;
  line-height: 1.8;
  margin: 0 0 15px;
}
.about-paddingB {
  padding-bottom: 12px;
}
.about-img {
  padding-left: 57px;
}

/* Social Icons */
.about-icons {
  margin: 48px 0px 48px 0px;
}
.about-icons i {
  margin-right: 10px;
  padding: 0px;
  font-size: 35px;
  color: #323232;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.about-icons li {
  margin: 0px;
  padding: 0;
  display: inline-block;
}
#social-fb:hover {
  color: #3b5998;
  transition: all 0.001s;
}
#social-tw:hover {
  color: #4099ff;
  transition: all 0.001s;
}
#social-gp:hover {
  color: #d34836;
  transition: all 0.001s;
}
#social-em:hover {
  color: #f39c12;
  transition: all 0.001s;
}
